.form {
  margin: 1rem 0;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid white;
  padding: .2rem;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.actions button {
  font: inherit;
  font-weight: bold;
  color: #f00;
  cursor: pointer;
  background-color: #000;
  border: 1.5px solid #f00;
  border-radius: 25px;
  padding: 0.4rem 1.5rem; 
}

.actions .submit {
  border: 1px solid #f00;
  background-color: #f00;
  color: #000;
}

.invalid label {
  color: #f00;
}

.invalid input {
  border-color: #f00;
  background-color: white;
}