.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #000;
  border: 2px solid #f00;
  color: #f00;
  padding: 0.3rem 1.2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #f00;
  border-color: #f00;
  color: #000;
}